memo.md

# VSCode
.vscode/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
build/
dist/

# Native (C++ Build Output)
native/build*/
native/dist/
*.pyd
*.obj
*.lib
*.exp
*.pdb
*.pyd.recipe
*.iobj
*.ipdb

# Test artifacts
tests/*.txt
bench_results_*.json
